.imgCenter {
  display: block;
  margin: 0 auto;
  padding: 0.625rem;
}

.box {
  padding: 0.625rem;
  margin: 0 auto;
  background-color: white;
  width: 90%;
  height: auto;
  text-align: center;
}

.side {
  border: 0.125rem solid #010817;
  padding: 1.25rem;
  margin: 0.625rem;
  background-color: white;
  width: 25rem;
  height: auto;
  display: inline-block;
}

.fotoavatar {
  max-width: 18.75rem;
  width: 100%;
  height: 18.75rem;
  display: block;
  margin: 1.25rem auto;
  object-fit: cover;
}

.centralize {
  text-align: center;
}

a {
  color: #587beb;
  text-decoration: none;
}

a:hover {
  color: #fd8b08;
}

/* MOBILE */
@media (max-width: 768px) {
  .side {
    width: 90%;
    display: block;
    margin: 0.625rem auto;
  }
}