header{
    background-color:#010817;
    height: 6rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
}

.logo{
    padding: 0 2rem;
}

.logo a{
    color: #fd8b08;
    text-decoration: none;
}

.logo h1{
    background-color: transparent;
    font-size: 1.875rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    white-space: nowrap;
}

.menu-toggle{
    display: none;
}

.nav{
    display: flex;
    justify-content: flex-end;
    background-color:#010817;
    margin-left: auto;
    margin-right: 2rem;
}

.nav.active{
    pointer-events: auto;
}

.menu{
    display: flex;
    list-style: none;
    gap: 0.8rem;
    align-items: center;
    text-align: center;
    margin-left: 12%;
}

.menu-item {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 1rem; 
    font-weight: 700;
    text-decoration: none;
    background-color: #010817;
    color: whitesmoke;
    padding: 0.5rem;
    display: inline-block;
}

.menu-item.active { 
    color: #fd8b08;
}

.menu-item:hover {
    color: #fd8b08;
}

#area-button-v{
    background-color: #9ac93d;
    color: whitesmoke;
    padding: 0.5rem;
    display: inline-block;
    border-radius: 10%;
}

#area-button-f{
    background-color: #fd8b08;
    color: whitesmoke;
    padding: 0.5rem;
    display: inline-block;
    border-radius: 10%;
}