@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --laranja: #fd8b08;
  --verde-lima: #9ac93d;
  --amarelo-claro: #fff4cc;
  --amarelo-marrom: #8a6d00;
  --amarelo-escuro: #f1c40f;
  --cinza-claro: #666;
  --azul-claro: #dff3ff;
  --azul-escuro: #006494;
  --vermelho-claro: #ffe5e5;
  --vermelho-escuro: #b85b5b;
  --preto: #000000;
  --font-cinza-normal: #555;
  --font-cinza-claro: #999;
}

.counter {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--amarelo-marrom);
  background: var(--amarelo-claro);
  border: 2px solid transparent;
  transition: border-color 0.3s;
  margin-bottom: 24px;
}

.counter:hover {
  border-color: var(--cinza-claro);
}

.counter:focus-visible {
  outline: 2px solid var(--amarelo-escuro);
  outline-offset: 2px;
}

.hero {
  position: relative;
}

.hero .base,
.hero .framework,
.hero .vite {
  margin: 0 auto;
  left: 0;
  right: 0;
}

.hero .base {
  width: 170px;
  position: relative;
}

.hero .framework {
  position: absolute;
  top: 34px;
  height: 28px;
  transform: rotate(15deg);
}

.hero .vite {
  position: absolute;
  top: 107px;
  height: 26px;
}

#center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-start;
}

#next-steps {
  display: flex;
  border-top: 1px solid #ccc;
  text-align: left;
}

#next-steps > div {
  flex: 1;
  padding: 32px;
}

#next-steps .icon {
  margin-bottom: 16px;
  width: 22px;
  height: 22px;
}

#docs {
  border-right: 1px solid #ccc;
}

#next-steps ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 8px;
  margin-top: 32px;
}

#next-steps ul a {
  color: #000;
  font-size: 16px;
  border-radius: 6px;
  background: #eee;
  display: flex;
  padding: 6px 12px;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}

#next-steps ul a:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#next-steps ul .button-icon {
  height: 18px;
  width: 18px;
}

#spacer {
  height: 88px;
  border-top: 1px solid #ccc;
}

.ticks {
  position: relative;
  width: 100%;
}

.ticks::before,
.ticks::after {
  content: "";
  position: absolute;
  top: -4px;
  border: 5px solid transparent;
}

.ticks::before {
  left: 0;
  border-left-color: #ccc;
}

.ticks::after {
  right: 0;
  border-right-color: #ccc;
}