/* style */


*{
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #010817;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    margin: 1rem 2rem;
}

/* fim style */


/* HEADER */
header{
    background-color:#010817;
    height: 6rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    
}

.menu-toggle{
    display: none;
}

#nav{
    display: flex;
    justify-content: flex-end;
    background-color:#010817;
}


#area-button-v{
    background-color: #9ac93d;
    color: whitesmoke;
    padding: 0.735rem;
    display: inline-block;
    border-radius: 10px;
    margin-right: 0.735rem;
    font-weight: 550;
    font-size: 1rem; 
    text-decoration: none;
    padding: 0.735rem;
}

.menu{
    display: flex;
    list-style: none;
    gap: 0.8rem;
}

.menu-item {
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 1rem; 
    font-weight: 500;
    text-decoration: none;
    background-color: #010817;
    color: whitesmoke;
    padding: 0.5rem;
    display: inline-block;
}

.menu-item.active { 
    color: #fd8b08;
/* esse aq vai funcionar com o router */
}

.menu-item:hover {
    color: #fd8b08;
}

.logo{
    padding: 0 1.5rem;
}

.logo a{
    color: #fd8b08;
    text-decoration: none;
}

.logo h1{
    background-color: transparent;
    font-size: 1.875rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    white-space: nowrap;
}

.logout-icon {
    margin-top: 0.275rem;
    width: 1.5rem;
    height: 1.5rem;
    color: white;
    margin-right: 1rem;

}

.bell-icon{
    margin-left: auto;
    margin-top: 0.275rem;
    margin-right: 0.735rem;
    width: 1.5rem;
    height: 1.5rem;
    color: white;
    
}

/* FIM header */

/* footer */
footer {
    background-color: #010817;
    color: white;
    text-align: center;
    padding: 2rem 1rem;
    margin-top: auto;
}

.footer-logo{
margin-bottom: 0.8rem;
}

.footer-slogan{
font-style: italic;
margin-bottom: 1rem;
}

.footer-info{
max-width: 30rem;
margin: 0 auto;
white-space: nowrap;
}

.fiap-color{
color: #fd8b08;
text-decoration: none;
}
/* footer fim  */

.dashboard_container {
    padding: 20px 40px;
    background-color: #fff;
}

.layout_grid_fixo {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    width: 100%;
}

.coluna_calendario { width: 55%; }
.coluna_detalhes_agenda { width: 43%; }

.card_calendario_full {
    background-color: #fffdf5;
    border-radius: 20px;
    padding: 35px;
    height: 78vh;
    display: flex;
    flex-direction: column;
}

.header_calendario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header_calendario h2 { font-size: 1.8rem; color: #000; }

.grade_dias_semana {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 15px;
    width: 100%;
}

.grade_dias_semana span {
    display: block;
    width: 14.28%;
    color: #999;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 10px 0;
}
.grade_dias_semana span { 
    color: #999; 
    font-size: 0.9rem; 
    font-weight: 500; 
}

.grade_dias_semana {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
}

.grade_dias_semana span {
    display: block;
    width: 14.285%; 
    color: #999;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 10px 0;
    box-sizing: border-box;
}

.dia_selecionado {
    background-color: #fcebb6;
    border-radius: 12px;
    font-weight: 700;
}


.grade_calendario_corpo {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    align-content: stretch;
}

.dia_clicavel, 
.dia_fora {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14.285%; 
    height: 20%; 
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    cursor: pointer;
    position: relative;
    font-size: 1.1rem;
    box-sizing: border-box; 
    outline: none;
    transition: background 0.2s;
}

.dia_fora {
    color: #ccc;
    cursor: default;
}




.badge_notificacao {
    background-color: #f1c40f;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 0.7rem;
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_info_paciente {
    background-color: #fff; 
    border: 1px solid #eee;
    border-radius: 15px;
    padding: 30px;
    height: 48vh;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.card_info_paciente h3 { font-size: 1.5rem; color: #000; margin-bottom: 5px; }

.instrucao_topo {
    font-size: 0.85rem;
    color: #999;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 25px;
}

.bloco_detalhe {
    display: flex;
    gap: 25px;
    margin-bottom: auto;
}

.barra_vertical {
    width: 8px; 
    background-color: #f1c40f;
    border-radius: 10px;
}

.nome_destaque { 
    font-size: 1.4rem; 
    font-weight: 700; 
    margin-bottom: 15px;
 }
.id_consulta { 
    font-size: 1rem; 
    color: #666; 
    font-weight: 400; 
    margin-left: 10px; 
}
.label_item { 
    font-weight: 700; 
    color: #000; 
}
.conteudo_texto p { 
    margin-bottom: 8px; 
    font-size: 0.95rem; 
    color: #333; 
}


.acoes_agenda { 
    display: flex; 
    gap: 15px;
     margin-top: 20px; }

.btn_fake_amarelo {
    background-color: #f1c40f;
    padding: 12px 35px;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
}

.btn_fake_cinza {
    background-color: #f0f0f0;
    padding: 12px 35px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}

.aviso_footer {
    font-size: 0.7rem;
    color: #aaa;
    margin-top: 12px;
    padding-left: 33px; /* Alinha com o texto acima */
}

/* LISTA DE CONSULTAS (VERTICAL) */
.card_lista_horarios {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 15px;
    padding: 25px;
    height: 28vh;
}

.lista_vertical { display: flex; flex-direction: column; gap: 10px; margin-top: 15px; }

.slot_hora {
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 10px;
    font-size: 0.9rem;
}

.slot_hora.selecionado {
    background-color: #fff8e1;
    border-left: 5px solid #f1c40f;
    font-weight: 600;
}

/* SETAS CLICÁVEIS */
.setas_nav a { color: #333; text-decoration: none; padding: 5px; }