header{
    background-color:#010817;
    height: 6rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
}

.menu-toggle{
    display: none;
}

#nav{
    display: flex;
    margin-left: 2rem;
    background-color:#010817;
}

#area-button-f{
    background-color: #fd8b08;
    color: whitesmoke;
    padding: 0.735rem;
    display: inline-block;
    border-radius: 10px;
    margin-right: 0.735rem;
    font-weight: 550;
    font-size: 1rem; 
    text-decoration: none;
}

.menu{
    display: flex;
    list-style: none;
    gap: 0.8rem;
    height: 6rem;
    align-items: center;
}

.menu-item {
    white-space: nowrap;
    font-size: 1rem; 
    font-weight: 500;
    text-decoration: none;
    background-color: #010817;
    color: whitesmoke;
    padding: 0.5rem;
    display: inline-block;
}

.menu-item.active { 
    color: #fd8b08;
    border-bottom: 3px solid #fd8b08;
}

.menu-item:hover {
    color: #fd8b08;
}

.logo{
    padding: 0 1.5rem;
}

.logo a{
    color: #fd8b08;
    text-decoration: none;
}

.logo h1{
    font-size: 1.875rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    white-space: nowrap;
}

.logout-icon {
    margin-top: 0.275rem;
    width: 1.5rem;
    height: 1.5rem;
    color: white;
    margin-right: 1rem;
}

.bell-icon{
    margin-left: auto;
    margin-top: 0.275rem;
    margin-right: 0.735rem;
    width: 1.5rem;
    height: 1.5rem;
    color: white;
}